<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Administração e Configuração</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./Styles/adm_config.css" />
    <script src="../../JQUERY/jquery-3.2.1.js"></script>
    
</head>
<body>
    <h1>Administração: Configuração</h1>
    
    <div id="pesquisar">
        <nav>
            <input type="button" value="fisioterapeuta" class="option" id="fisioterapeuta">
            <input type="button" value="Paciente" class="option" id="paciente">
            <input type="search" id="pesquisar" placeholder="Pesquisar"><button type="button">Search</button>    
        </nav>
        
    </div>
    <hr>
</body>
<script src="./Script/adm_configurar.js"></script>
</html>