 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fisioterapia em Casa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="Styles/index.css" />
    <script src="./JQUERY/jquery-3.2.1.js"></script>
</head>
<body>
    <h1 class="bordas">Fisioterapia em casa</h1>
    <div class="logo">
        <img src="./imagens/logo.png">
        
    </div>
    <div class="bordas">
        <div id="campo">
            <input type="text" id="email" placeholder="Digite seu email" required="required"><br>
        <input type="password" id="senha" placeholder="Senha" required="required"><br>
        <button class type="button" onclick="ProcurarUsuario">Entrar</button>
        </div>
        <footer>Alunos da Unasp &trade;</footer>
    </div>
    <script src="./Script/index.js"></script>

</body>
</html>